.error {
  font-size: 1.25rem;
  padding-top: 20px;
  animation: slideUp 0.8s ease-out;
}

.word {
  font-size: 4rem;
  text-align: center;
  animation: slideUp 0.8s ease-out;
}

.loading {
  font-size: 2rem;
  text-align: center;
  animation: pulse 1.5s infinite;
}

/* Container animation */
.result-container {
  animation: slideUp 0.8s ease-out;
}

@keyframes slideUp {
  from {
    opacity: 0;
    transform: translateY(30px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes pulse {
  0% {
    opacity: 0.6;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0.6;
  }
}